:root {
    --easy-color: #51b073;
    --medium-color: #be8824;
    --hard-color: #af3131;
}

.game-difficulty {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    padding: 30px;
    border-radius: 7px;
    font-weight: 800;
    font-size: 1.5rem;
    text-shadow: 3px 0 #fff, -3px 0 #fff, 0 3px #fff, 0 -3px #fff,
        2px 2px #fff, -2px -2px #fff, 2px -2px #fff, -2px 2px #fff;
}

.easy {
    background-color: var(--easy-color);
    color: var(--easy-color);
}

.medium {
    background-color: var(--medium-color);
    color: var(--medium-color);
}

.hard {
    background-color: var(--hard-color);
    color: var(--hard-color);
}




