@font-face {
  font-family: "Climate Crisis";
  src: url("fonts/ClimateCrisis-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  background: #19212e;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-family: "Climate Crisis",fantasy;
  letter-spacing: 3px;
}

.container {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background: none;
  padding: 40px;
}
